/* Fira Sans */
.open-sans-normal {
  font-family: "Fira Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* ------------ */


/* No Margin and Padding */
*{
    margin: 0px;
    padding: 0px;
}
/* ------------ */


/* Body */
body{
    background-color:  rgba(245, 245, 245, 1);
}
/* ------------ */


/* Navbar Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 160px;
}

.bangladesh-title{
    font-weight: 700;
    font-size: 32px;
    color: #0E0E0E;
}

.sign-in-btn{
    font-weight: 600;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 8px;
    border: 1px solid rgba(0, 106, 80, 1);
    text-align: center;
    color: rgba(0, 106, 80, 1);
}
/* ------------ */


/* Banner Styles */
.banner{
    display: flex;
    align-items: center;
    border-radius: 24px;
    margin: 20px 160px 0px 160px;
    padding: 80px 100px;
    justify-content: space-between;
    background-color: #C6E4D6;
}

.banner-items{
    text-align: start;
    width: 622px 326px;
    margin: 117px 598.01px 117px 59.99px;
}

.banner-title{
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 16px;
    color: rgba(14, 14, 14, 0.5);
}

.banner-description{
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 24px;
    color: #0E0E0E;
}

.banner-btn{
    font-weight: 600;
    font-size: 18px;
    color: white;
    padding: 17px 34px;
    border-radius: 8px;
    border: none;
    background-color: #006A50;
}

.banner-image{
    width: 474.03px;
    height: 400px;
    align-items: stretch;
}
/* ------------ */


/* Vision of Future Section Styles */
.vision-of-future{
    margin: 80px 160px 0px 160px;
}

.vision-section-title{
    font-weight: 700;
    font-size: 40px;
    color: #0E0E0E;
    margin-bottom: 24px;
}

.vision-section-description{
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

.vision-container{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    margin-top: 32px;
    align-items: center;
}

.digital-box{
    width: 410.67px;
    background-color: rgba(84, 144, 245, 0.2);
    padding: 32px;
    border-radius: 16px;
}

.green-box{
    width: 410.67px;
    background-color: rgba(198, 228, 214, 1);
    padding: 32px;
    border-radius: 16px;
}

.modern-box{
    width: 410.67px;
    background-color: #F7EBCF;
    padding: 32px;
    border-radius: 16px;
}

.vision-image{
    margin-bottom: 24px;
}

.vision-title{
    font-weight: 700;
    font-size: 20px;
    color: #0E0E0E;
    margin-bottom: 12px;
}

.vision-description{
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 24px;
}

.vision-btn{
    font-weight: 600;
    font-size: 16px;
    color: white;
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
}

.digital-btn{
    background-color: rgba(84, 144, 245, 1);
}

.green-btn{
    background-color: rgba(9, 161, 92, 1);
}

.modern-btn{
    background-color: rgba(255, 194, 57, 1);
}
/* ------------ */


/* Recent News Section Styles */
.recent-news{
    margin: 80px 160px 0px 160px;
}

.news-section-title{
    font-weight: 700;
    font-size: 40px;
    color: #0E0E0E;
    margin-bottom: 24px;
}

.news-section-description{
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}

.news-container{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 48px;
    border-radius: 24px;
    border: none;
    background-color: white;
    margin-bottom: 24px;
}

.news-image{
    border-radius: 24px;
    border: none;
}

.news-title{
    font-weight: 700;
    font-size: 32px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}

.news-channel{
    margin-bottom: 12px;
}

.news-date-time{
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

.news-description{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
    color: rgba(14, 14, 14, 0.7);
}

.news-btn{
    font-weight: 600;
    font-size: 18px;
    color: white;
    padding: 13px 26px;
    border-radius: 8px;
    border: none;
    background-color: rgba(0, 106, 80, 1);
}
/* ------------ */


/* Donate Bangladesh Section Styles */
.donate-bangladesh{
    margin: 80px 160px 0px 160px;
}

.donate-title{
    font-weight: 700;
    font-size: 40px;
    color: rgba(14, 14, 14, 1);
    text-align: center;
    margin-bottom: 24px;
}

.donate-description{
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    text-align: center;
    margin-bottom: 32px;
}

.donate-btn-container{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    margin: 0px 104.5px 32px 104.5px;
}

.donate-btn-100{
    font-weight: 700;
    font-size: 40px;
    color: rgba(14, 14, 14, 0.8);
    border-radius: 16px;
    border: none;
    padding: 40px;
    background-color: white;
    text-align: center;
}

.donate-btn-200{
    font-weight: 700;
    font-size: 40px;
    color: rgba(14, 14, 14, 0.8);
    border-radius: 16px;
    border: none;
    padding: 40px;
    background-color: rgba(198, 228, 214, 1);
    text-align: center;
}

.donate-btn-500{
    font-weight: 700;
    font-size: 40px;
    color: rgba(14, 14, 14, 0.8);
    border-radius: 16px;
    border: none;
    padding: 40px;
    background-color: white;
    text-align: center;
}

.donate-btn-1000{
    font-weight: 700;
    font-size: 40px;
    color: rgba(14, 14, 14, 0.8);
    border-radius: 16px;
    border: none;
    padding: 40px;
    background-color: white;
    text-align: center;
}


.donate-other-container{
    display: flex;
    justify-content: center;
    margin: 0px 124px 32px 124px;
}

.donate-other{
    font-weight: 400;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.3);
    padding: 20px 40px;
    width: 1032px;
    text-align: center;
    border: none;
}

.donate-done-btn-container{
    display: flex;
    justify-content: center;
}

.donate-btn-done{
    font-weight: 600;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    padding: 17px 34px;
    border-radius: 8px;
    border: none;
    background-color: rgba(0, 106, 80, 1);
}
/* ------------ */